header {
  background-color: #ff1801;
  color: #fff;
  padding: 10px 0;
  top: 0;
  position: sticky;
  width: 100%;
  left: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2em;
  font-weight: 600;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #0e1111;
}
