.driver-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 4rem;
  margin-top: 5rem;
}

.driver-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 340px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.driver-card img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.driver-card .driver-photo {
  border-radius: 50%;
}

.dri .driver-card span {
  margin: 5px;
}

.driver-card p {
  margin: 5px;
  font-size: 20px;
}
